/* Dark Mode */
:root {
	--text-color: rgb(197, 209, 222);
}

.dark-mode-alert {
	background-color: #22272e;
	color: var(--text-color);
}

.light-mode-alert {
	background-color: initial;
	color: black;
}

.dark-mode {
	background-color: #22272e;
	color: var(--text-color);
	/* color: white; */
}

.dark-sections-mode {
	background-color: RGB(20, 25, 30);
}

.dark-nav-bar {
	background-color: #1c2128;
	color: var(--text-color);
}

.dark-btn-bars {
	background-color: var(--text-color);
	color: #478be6;
}

.dark-mode-text {
	color: var(--text-color) !important;
}

.dark-mode-white-text {
	color: #ffffff;
}

.dark-mode-btn-text {
	color: white;
	text-shadow: 1px 1px 3px black;
}

.dark-btn-mine {
	background-color: #0d6efd;
	color: white;
}

.dark-mode-btn-text:hover {
	color: white;
}

.dark-icon-hover {
	color: rgb(255, 255, 255) !important;
}

.dark-icon-hover:hover {
	color: #ffd700 !important;
}

.dark-nav-link {
	color: var(--text-color) !important;
}

.btn-modal-dark:not(i) {
	background-color: white;
}

.dark-mode .column:hover {
	background-color: rgb(20, 25, 30) !important;
}

.dark-form-select {
	background-color: #22272e;
	color: var(--text-color);
	font-weight: bold;
}

.btn-toggle-mode {
	margin-left: 10px;
	border: none;
	background-color: transparent;
	font-size: 1.5rem;
}

.dark-color-line-cv {
	border-top: 0.5px solid rgba(255, 255, 255, 0.5);
}

@media (max-width: 768px) {
	.btn-toggle-mode {
		margin-left: 0;
	}
}
