:root {
	--background-color: #f5f6f7;
	--dark-color: #1b1b32;
}

/* General styles */

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

h1 {
	font-size: 2.5rem;
	font-family: "Rubik Dirt", system-ui;
	font-weight: 400;
	font-style: normal;
}

.dark-section {
	color: white;
	background-color: var(--dark-color);
}

.light-section {
	color: black;
	background-color: white;
}

.title-section {
	font-size: 2rem;
	padding: 15px 0;
	font-family: "Rubik Dirt", cursive;
}

.description-section {
	font-size: 1.2rem;
	color: #584e4e;
}

.text-section {
	font-size: 1.2rem;
}

.dark-text {
	color: black;
}

.light-text {
	color: white;
}

/* Navbar */

.navbar {
	padding: 2rem;
	background-color: var(--background-color);
}

.navbar-collapse {
	align-items: center;
	justify-content: space-between;
}

/* Hero Section */

.hero {
	background-color: var(--background-color);
	min-height: 450px;
	text-align: center;
}

.hero-principal {
	padding: 3rem;
}

.profile-img {
	width: 200px;
	height: 200px;
	margin: 20px;
	/* border-radius: 50%; */
	border: 0.1rem solid rgba(0, 0, 0, 0.5);
	box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.504);
}

.hero-principal h2 {
	font-size: 1.5rem;
	color: #615151;
}

/* About me */

.about-me {
	height: 500px;
	padding: 10px;
}

.about-me .container-mine {
	max-width: 600px;
	text-align: center;
}

/* Experience */

.experience {
	padding: 40px 40px 60px 40px;
}

.experience .column {
	padding: 20px;
	border: 2px solid #8080804d;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	transition: all 0.2s ease-in;
}

.experience .column:hover {
	color: white;
	background-color: var(--dark-color);
}

.experience i {
	font-size: 2.5rem;
	color: #7ade30;
	background-color: #0a0a23;
	padding: 8px 16px;
	border-radius: 50%;
}

.title-experience {
	font-size: 25px;
	font-weight: bold;
	margin: 10px 0;
}

.badges-container {
	font-size: 20px;
	font-weight: bold;
	margin: 10px 0px;
}

.badge {
	margin: 5px;
}

/* Projects */

.projects {
	padding: 40px;
}

.projects img {
	height: 100%;
	width: 100%;
	padding: 10px;
	border: 10px;
	display: block;
	transition: all 0.2s ease;
}

.container-projects {
	padding-top: 60px;
	margin-bottom: 40px;
}

.overlay {
	transition: all 0.2s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.overlay p {
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 0;
}

.project {
	position: relative;
}

.project:hover img {
	opacity: 0.2;
}

.project:hover .overlay {
	opacity: 1;
}

.overlay .icons-container {
	display: flex;
	justify-content: center;
	gap: 1rem;
}

.overlay i {
	color: black;
	font-size: 60px;
	margin: 10px;
}

.overlay i:hover {
	color: blue;
}

/* Responsive design */
@media screen and (max-width: 767px) {
	.navbar-brand {
		display: none;
	}
}

@media screen and (min-width: 700px) {
	.hero-inferior-image {
		max-width: 600px;
	}
}
