@media (max-width: 768px) {
	a[data-toggle], a[href="https://github.com/fabianblancowuest?tab=repositories"]
	{
		width: 100%;
	}

	.btn {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
}
