.btn-info {
	font-size: 1rem;
	margin: 20px;
	/* font-weight: bold; */
}

.link-btn {
	width: 200px;
}

@media (max-width: 768px) {
	a[data-toggle], a[href="https://github.com/fabianblancowuest?tab=repositories"], .btn-download-cv a
	{
		width: 100%;
		max-width: 350px;
	}

	.btn {
		max-width: 350px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		padding-top: 8px;
		padding-bottom: 8px;
	}
}

.contact button {
	color: white;
	font-weight: bold;
	background-color: transparent;
	border: 2px solid white;
	padding: 1.25em 2em;
	margin: 10px;
	border-radius: 100px;
	transition: all 0.2s ease-in-out;
}

.contact button i {
	color: white;
	font-size: 1.2rem;
	transition: all 0.2s ease-in-out;
}

.contact button:hover {
	background-color: white;
	color: black;
}

.contact button:hover i {
	color: black;
}

.social-media-icons a {
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2px;
	margin: 10px;
	border: 2px solid white;
	border-radius: 50%;
	transition: all 0.2 ease-in;
}

.social-media-icons i {
	color: white;
	font-size: 1.5rem;
	transition: all 0.2 ease-in;
}

.social-media-icons a:hover {
	background-color: white;
	border: 2px solid rgb(13, 110, 253);
}

.social-media-icons a:hover i {
	color: black;
}
