/* Dark Mode */
:root {
	--text-color: rgb(197, 209, 222);
	--text-intense-color: #fff;
	--section-color: #130c25;
	--section-intense-color: #0a0614;
	--gradient: linear-gradient(
		97deg,
		rgba(49, 12, 89, 1) 0%,
		rgba(29, 18, 56, 1) 31%,
		rgba(29, 18, 56, 1) 73%,
		rgba(58, 20, 195, 1) 200%
	);
}

.dark-mode-alert {
	/* background-color: #22272e; */
	/* color: var(--text-color); */
	background: var(--section-intense-color);
	color: var(--text-intense-color);
}

.light-mode-alert {
	background-color: initial;
	color: black;
}

.dark-mode {
	background-color: #22272e;
	background-color: #1d1238;
	background: var(--gradient);
	color: var(--text-intense-color);
	/* color: white; */
}

.dark-mode input,
.dark-mode textarea {
	background-color: darkslateblue;
	color: var(--text-intense-color);
	font-weight: bold;
}

.dark-mode input::placeholder,
.dark-mode textarea::placeholder {
	color: var(--text-intense-color);
	font-weight: normal;
}

.dark-mode input:focus,
.dark-mode textarea:focus,
.dark-mode input:active,
.dark-mode textarea:active {
	background-color: darkslateblue;
	color: var(--text-intense-color);
	/* font-weight: normal; */
}

.dark-sections-mode {
	background-color: RGB(20, 25, 30);
	background: #141e30; /* fallback for old browsers */
	background: #130c25;
	color: var(--text-intense-color);
}

.dark-nav-bar {
	/* background-color: #1c2128; */
	/* color: var(--text-color); */
	background: #130c25;
	color: var(--text-intense-color);
}

.dark-btn-bars {
	background-color: var(--text-color);
	color: #478be6;
}

.dark-mode-select,
.dark-mode-text {
	/* color: var(--text-color) !important; */
	color: var(--text-intense-color) !important;
}

.dark-mode-select option {
	color: var(--text-color);
	background-color: #22272e;
}

.dark-mode-white-text {
	color: #ffffff;
}

.dark-mode-black-background {
	background-color: black;
}

.dark-mode-btn-text {
	color: white;
	text-shadow: 1px 1px 3px black;
}

.dark-btn-mine {
	background-color: #0d6efd;
	color: white;
}

.dark-mode-btn-text:hover {
	color: white;
}

.dark-icon-hover {
	color: rgb(255, 255, 255) !important;
}

.dark-icon-hover:hover {
	color: #ffd700 !important;
}

.dark-nav-link {
	color: var(--text-color) !important;
}

.dark-mode-active {
	color: rgba(240, 248, 255, 0.968) !important;
}

.btn-modal-dark:not(i) {
	background-color: white;
}

.dark-mode .column:hover {
	background-color: rgb(20, 25, 30);
	background: linear-gradient(
		97deg,
		rgba(49, 12, 89, 1) 0%,
		rgba(29, 18, 56, 1) 31%,
		rgba(29, 18, 56, 1) 73%,
		rgba(58, 20, 195, 1) 200%
	);
	background: #130c25;
}

.dark-form-select {
	background-color: #22272e;
	color: var(--text-color);
	font-weight: bold;
}

.btn-toggle-mode {
	margin-left: 10px;
	border: none;
	background-color: transparent;
	font-size: 1.5rem;
}

.dark-color-line-cv {
	border-top: 0.5px solid rgba(255, 255, 255, 0.5);
}

@media (max-width: 768px) {
	.btn-toggle-mode {
		margin-left: 0;
	}
}
