@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

:root {
	--background-color: #f8f8ff;
	--dark-color: #14191e;
	--blue-color: #0a0a23;
	overflow-x: hidden;
}

.container {
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 20px;
}

/* General styles */

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: "Quicksand", sans-serif;
	/* font-weight: bold; */
}

.logo {
	display: block;
	width: 50px;
	margin: 0 20px;
}

.title {
	font-size: 2rem;
	font-family: "Rubik Dirt", system-ui;
	font-weight: 400;
	font-style: normal;
}
@media (max-width: 500px) {
	.title {
		font-size: 2rem;
	}
}
.dark-section {
	color: white;
	background-color: var(--dark-color);
}

.light-section {
	color: black;
	background-color: var(--background-color);
	background-color: #e6e6fa;
}

.title-section {
	font-size: 1.8rem;
	padding: 15px 0;
	font-family: "Rubik Dirt", cursive;
	text-align: center;
}

.description-section {
	font-size: 1.2rem;
	color: #584e4e;
}

.text-section {
	font-size: 0.9rem;
	max-width: 1200px;
	/* letter-spacing: 0.1rem; */
	font-weight: bold;
	text-shadow: 1px 1px 5px black;
}

.dark-text {
	color: black;
}

.light-text {
	color: white;
}

/* Hero Section */

.hero {
	background-color: rgba(248, 248, 255, 0.142);
	min-height: 450px;
	text-align: center;
}

.hero-principal {
	padding: 3rem;
}

.profile-img {
	width: 200px;
	height: 200px;
	margin: 20px;
	/* border-radius: 50%; */
	border: 0.1rem solid rgba(0, 0, 0, 0.5);
	box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.504);
}

.hero-principal .subtitle {
	font-size: 1.3rem;
	color: #615151;
}

#subtitle {
	height: 2rem;
}

/* .subtitle {
	border-right: 0.15em solid orange; /* El borde derecho que simula el cursor parpadeante */
/* white-space: nowrap; Evita que el texto se rompa */
/* overflow: hidden; Oculta el texto que desborda el contenedor */
/* width: 0; Comienza con un ancho de 0 */
/* animation: blink-caret blink-caret 0.7s step-end infinite; Animación para el cursor parpadeante */
/* } */

/* Estilos para el cursor del efecto de máquina de escribir */
.typing-cursor {
	display: inline-block;
	width: 0.15em;
	margin-left: 0.15em;
	position: absolute;
	height: 1.3em;
	background-color: orange;
	animation: blink 0.5s infinite;
}

/* Animación de escritura */
@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

/* Animación del cursor parpadeante */
@keyframes blink-caret {
	from,
	to {
		border-color: transparent;
	}
	50% {
		border-color: orange;
	}
}

@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.mobile {
	display: none;
}

/* About me */

.about-me {
	display: flex;
	flex-direction: column;
	gap: 4em;
	padding: 20px;
	font-family: "Quicksand", sans-serif;
	font-weight: 400;
	line-height: 2;
	min-height: 100vh;
	height: fit-content;
	text-align: center;
}

.about-me-description {
	max-width: 1000px;
	margin: 0 auto;
	/* font-family: "Merriweather", serif; */
	letter-spacing: 1px;
	/* border: solid 0.1px white; */
	border-radius: 5px;
	padding: 4em 6em;
	/* box-shadow: 0.5px 0.5px 0.5px 3px rgba(148, 148, 148, 0.217); */
	/* background: #0a0614; */
	background: var(--blue-color);
	color: var(--text-intense-color);
	text-align: justify;
	box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.3);
	transition: 0.8s ease-in-out;
}

@media (max-width: 900px) {
	.about-me-description {
		padding: 1em;
		max-width: 95vw;
		width: 100vw;
		margin: 0;
		box-shadow: none;
		text-align: justify;
	}
}

.about-me-img {
	width: 50%;
}

.about-me .container-mine {
	max-width: 1200px;
	text-align: center;
}

.highlighted-text {
	color: white;
}

.hero-inferior-image-container {
	width: 100%;
	/* text-align: center; */
	padding: 3em 0.5em;
	display: flex;
	flex-wrap: wrap;
	/* flex-direction: column; */
	align-items: center;
	justify-content: center;
	gap: 2em 4em;
}

.hero-inferior-image-container div {
	display: flex;
	gap: 3em;
}

.hero-inferior-image {
	max-width: 100%;
	border-radius: 10px;
}

.logo-tech {
	width: 100%;
	max-width: 60px;
	/* animation: logoTechsAnimate ease-in 1.5s infinite alternate; */
}

@keyframes logoTechsAnimate {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.04);
	}
}

/* Experience */

.experience {
	padding: 40px 40px 60px 40px;
	min-height: 100vh;
	display: flex;
	justify-content: space-evenly;
}

.experience .container {
	padding: 0 10px;
}

.experience .row {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px 40px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.experience .column {
	height: 500px;
	width: 500px;
	font-size: 0.9rem;
	line-height: 1.8;
	/* text-align: left; */
}

.experience .column {
	padding: 10px;
	border: 2px solid #8080804d;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	transition: all 0.2s ease-in;
	box-shadow: 3px 3px 7px rgba(255, 255, 255, 0.3);
	border-radius: 5px;
	/* background-color: var(--dark-color); */
	/* background: #0a0614; */
	background: #0a0a23;
	color: white;
	transition: 0.3s ease-in-out;
}

.experience .column:hover {
	/* opacity: 0.5; */
	/* transform: scale(1.025); */
	/* margin: 0 30px; */
	background: #151549;
	/* margin: 0 7px; */
}

.title-experience {
	font-size: 1.3rem;
	font-weight: bold;
	margin: 10px 0;
}

.experience .description-i {
	font-size: 2.5rem;
	color: #7ade30;
	background-color: #0a0a23;
	padding: 8px 16px;
	border-radius: 50%;
}

/* @media screen and (max-width: 768px) {
	.experience .column:hover {
	}
} */

.experience .btn-info i {
	font-size: unset;
}

@media (max-width: 768px) {
	.title-experience {
		font-size: 20px;
	}

	.experience .column {
		height: fit-content;
	}
}

.badges-container {
	font-size: 20px;
	font-weight: bold;
	margin: 10px 0px;
}

.badge {
	margin: 5px;
}

/* Projects */

.projects {
	/* padding: 40px; */
	min-height: 100vh;
}

.projects p {
	font-size: 15px;
}

.project-description {
	padding: 12px;
	padding-bottom: 0;
	text-align: left;
	min-height: 180px;
	line-height: 1.6;
}

.project > img {
	height: 200px;
	width: 100%;
	border: 10px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	display: block;
	transition: all 0.2s ease;
}

.container-projects {
	padding: 60px 0 0 0;
	margin-bottom: 40px;
}

.container-cards-projects {
	display: flex;
	justify-content: space-evenly;
	gap: 20px 10px;
}

.card-project {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	box-shadow: 0 0 10px blue;
	background-color: #0a0a23;
	color: white;
	max-width: 370px;
	padding: 0 0 10px 0;
	position: relative;
}

.overlay {
	transition: all 0.2s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.overlay p {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 0;
	color: white;
}

.project {
	position: relative;
}

.project .in-progress {
	width: 60%;
	height: auto;
	display: block;
	margin: 0 auto;
}

.project:hover img {
	opacity: 0.2;
}

.project:hover .in-progress {
	opacity: 1;
}

.project:hover .overlay {
	opacity: 1;
}

.projects .btn {
	margin-bottom: 100px;
}

.overlay .icons-container {
	display: flex;
	justify-content: center;
	gap: 1rem;
}

.overlay i {
	font-size: 60px;
	margin: 10px;
}

.overlay i:hover {
	color: #0d6efd;
}

.tech-icons i {
	color: white;
	background-color: white;
}

/* Section Projects*/

.projects section {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	gap: 20px;
	/* min-height: 100vh; */
}

.logos-icos {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.logos-icos img {
	height: 55px;
	width: auto;
	padding: 10px;
}

/* .card-project {
	height: 80%;
} */

/* Articles */

.articles {
	min-height: 500px;
	padding: 30px;
}

.articles .card {
	width: 80%;
	max-width: 600px;
	margin: 20px;
}

.articles .card-header {
	font-weight: bold;
}

/* Testimonies */

.testimonies {
	padding: 40px 40px 80px 40px;
}

.testimonies .carousel {
	max-width: 800px;
}

.carousel-item {
	height: 500px;
}

.carousel-item .container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.testimony-image {
	height: 150px;
	width: 150px;
	margin: 10px 10px 20px 10px;
}

.testimony-text {
	max-width: 70%;
	font-size: 20px;
	text-align: center;
	font-family: "Share Tech Mono", monospace;
}

.testimony-info {
	font-weight: bold;
	text-align: center;
}

.testimony-info p {
	margin-bottom: 0;
}

.client {
	font-size: 1.2rem;
}

.testimony-info .position {
	font-size: 1rem;
	color: #656060;
}

/* Contact */

.contact .container {
	max-width: 1100px;
	min-height: 200px;
	padding: 20px;
}

@media (max-width: 720px) {
	.contact .container {
		padding: 20px 5px;
	}
}

.contact .rectangle {
	margin-top: -5rem;
	/* background-color: rgb(13, 110, 253); */
	background-color: #0d6efd;
	/* background: #0a0614; */
	background: #0a0a23;
	border-radius: 10px;
	box-shadow: 0px 1px 4px 1px white;
}

.contact .row {
	width: 100%;
	display: flex;
	align-items: center;
}

.contact .description {
	color: white;
	font-size: 1.1rem;
}

/* Footer */

footer {
	min-height: 500px;
}

.footer-logo {
	height: 80px;
	width: 80px;
	margin: 10px;
}

.footer-text {
	font-size: 1.3rem;
	font-family: "Quicksand", sans-serif;
	font-weight: 500;
	padding: 20px;
	margin-bottom: 30px;
}

.footer-text span {
	display: block;
	width: 100%;
}

.footer-links {
	max-width: 100%;
	margin: 2.5em auto;
	width: 100%;
	text-align: center;
}

.footer-links ul {
	width: 500px;
	max-width: 100%;
	display: flex;
	justify-content: space-evenly;
	padding-left: 0;
	margin: 0 auto;
}

.footer-links li {
	list-style: none;
}

.footer-links a {
	text-decoration: none;
}

.footer-links-a li {
	font-size: 1.1rem;
}

.footer-info {
	display: flex;
	gap: 2em;
}

.footer-info > * {
	font-family: "Qicksand", sans-serif;
	color: #0d6efd;
	background-color: #0a0a23;
	padding: 0.1em 0.5em;
	border-radius: 5px;
	cursor: text;
}

.copyright {
	margin-top: 60px;
	width: 100%;
	text-align: center;
	font-size: 15px;
	/* color: #aeaeae; */
	color: white;
	padding: 10px;
	background-color: #0f0f14;
}

/* Responsive design */

@media screen and (max-width: 600px) {
	.title {
		font-size: 2rem;
	}

	.subtitle {
		font-size: 1.2rem !important;
		max-width: 100vw;
	}
	.title-section {
		font-size: 1.8rem;
	}

	.about-me {
		min-height: 100vh;
		height: fit-content;
	}

	.about-me .text-section {
		font-size: 0.5rem;
	}

	.mobile {
		font-size: 20px !important;
	}

	.carousel-item {
		height: 80vh;
	}
}

@media screen and (max-width: 768px) {
	.hero-principal {
		padding-top: 1em;
		padding-bottom: 1em;
	}

	.about-me .container-mine {
		min-height: fit-content;
	}

	.about-me .text-section {
		font-size: 0.9rem;
	}

	.experience,
	.projects,
	.articles {
		padding: 10px;
	}

	.description-section {
		padding: 0 40px;
		text-align: center;
	}

	.projects .btn-info {
		margin-bottom: 120px;
	}
}

@media screen and (min-width: 700px) {
	.hero-inferior-image {
		max-width: 600px;
	}
}

@media screen and(max-width: 800px) {
	.testimony-image {
		height: 120px;
		width: 120px;
	}

	.testimony-text {
		font-size: 18px;
	}
}
