/* Navbar */
:root {
	--dark-color: #14191e;
	--text-color: rgb(197, 209, 222);
}

.navbar {
	font-family: "Quicksand", sans-serif;
	font-size: 1rem;
	font-weight: bold;
	/* letter-spacing: 1px; */
}

.navbar {
	padding: 2rem;
	background-color: var(--background-color);
}

.navbar-collapse {
	align-items: center;
	justify-content: flex-end;
}

.navbar-brand {
	animation: ilustrationAnimate ease-in 1.5s infinite alternate;
}

@keyframes ilustrationAnimate {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(1.2);
	}
}

.navbar .nav-link {
	display: flex;
	justify-content: center;
	/* margin-left: 16px; */
}

.icons-pre-nav {
	background-color: var(--dark-color);
	display: flex;
	justify-content: flex-end;
	column-gap: 20px;
	padding: 5px 20px;
	font-size: 20px;
	color: var(--text-color);
}

.icons-pre-nav code {
	font-size: 16px;
	margin-right: auto;
}

.social-media-pre-nav {
	display: flex;
	column-gap: 20px;
	position: fixed;
}

.logo-pre-nav {
	width: 30px;
}

.hidden {
	display: none;
}

.btn-menu {
	display: none;
	cursor: pointer;
}

@media (max-width: 768px) {
	.btn-menu {
		display: unset;
	}
	.social-media-pre-nav {
		color: black !important;
		background-color: var(--background-color);
		font-size: 1.5rem;
		column-gap: 20px;
		flex-direction: column;
		width: 60px;
		padding: 20px;
		top: 120px;
		right: -100px;
		transition: right 0.8s ease;
		border-radius: 10px;
		border-bottom-right-radius: 0px;
	}

	.show-icons {
		right: 0px;
	}
}

.select-language {
	display: flex;
	align-items: center;
	/* background-color: rgb(197, 209, 222); */
	border-radius: 5px;
	padding: 0 8px;
	/* border: 1px solid #ccc; */
}

/* .select-language i {
	font-size: 1.3rem;
	margin-right: 5px;
	padding: 4px 4px;
	padding-left: 12px;
} */

.select-language:focus-within {
	border-color: #007bff; /* Color del borde cuando el select está enfocado */
	box-shadow: 0 0 0 0.3rem rgba(38, 143, 255, 0.25); /* Opcional: sombra de enfoque */
}

.form-select {
	background-color: transparent;
	border: none;
	font-weight: bold;
	cursor: pointer;
	padding-top: 8px;
	padding-bottom: 8px;

	background-image: url(/src/assets/img/icons/globe.svg);
	background-repeat: no-repeat;
	background-size: 24px 24px;
	background-position: right 0.25rem center;
}

.form-select:active {
	box-shadow: none;
	outline: none !important;
}

.form-select:focus {
	outline: none !important;
}

select:focus {
	outline: none !important;
	box-shadow: none !important; /* Bootstrap usa box-shadow para el enfoque */
	/* border-color: initial !important; Ajusta el color del borde si es necesario */
}

@media (min-width: 1200px) {
	.navbar .nav-link {
		width: 126px;
	}

	.navbar .nav-link-small {
		width: 80px;
	}
}

@media (max-width: 768px) {
	.navbar .nav-link-small {
		margin-top: 0.5em;
	}
}

@media (max-width: 320px) {
	.navbar .form-select {
		margin-top: 1em;
	}
}

@media screen and (max-width: 768px) {
	.navbar-brand {
		position: absolute;
		right: 5px;
		top: 20px;
	}

	.navbar-brand img {
		width: 50px;
	}

	.navbar {
		padding-bottom: 1em;
	}

	.navbar li a {
		margin-top: 20px;
		font-size: 1.1rem;
		letter-spacing: 1px;
	}
}

.btn-arrow {
	position: fixed;
	bottom: 30px;
	right: 30px;
	z-index: 99999999;
}

.arrow {
	font-size: 3rem;
	color: #e35026;
	text-shadow: 1px 1px 2px black;
}
